{% extends './navbars/baseencuestado.html' %}

{% block title %}Pagina Principal{% endblock %}

{% block body %}
<center>
      <div>
            <h1 style="margin-top: 1%;">
                  <b>
                        Bienvenido, estás conectado como encuestado.<br>
                  </b>
            </h1>
            <img style="margin-bottom: 0%; margin-top: 1%; max-width:100%;" src="/static/images/index_login.png"
                  width="auto" height="auto">
      </div>
</center>
{% endblock %}