{% extends './navbars/baseencuestado.html' %}

{% block title %}Página Personal{% endblock %}

{% block body %}

<!-- Estilos para el diseño de la página.-->
<style>
  html,
  body {
    height: 100%;
    margin: 0;
  }

  .box {
    display: flex;
    flex-flow: column;
    height: 100%;
    /*overflow-x: hidden;*/
    /* No debería usar esto */
  }

  /* Esto provoca el scroll horizontal, pero está arreglado*/
  .box .row {
    border: 1px dotted white;

  }

  .box .row.content {
    flex: 1 1 auto;
  }

  /* The above is shorthand for:
  flex-grow: 1,
  flex-shrink: 1,
  flex-basis: auto
  */


  .box .row.footer {
    flex: 0 1 40px;
    text-align: center;
    margin:auto;
    list-style: none;
  }

  /* Para la división entre la sección de preguntas con la de preferencias. */
  .split {
    height: 450px;
    width: 50%;
    position: relative;
    z-index: 1;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
  }

  .left {
    left: 0;
    /*background-color: #111;*/
    /* Testeo */
    overflow: auto;
    /*transform: translate(2%, 0%);*/

  }

  .right {
    right: 0;
    /*background-color: red;*/
    /* Testeo */
    overflow: auto;
  }

  .centered {
    position: relative;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    /*overflow-x: hidden;*/
  }
</style>

<div class="box">
  <div class="row m-0 content">
    <p style="font-family: var(--bs-body-font-family) ">
      ¡Bienvenido! {{ dpers.0 }} {{ dpers.1 }} {{ dpers.2 }} {{ dpers.3 }}. Esta es tu página personal.<br>
      Acá deberías poder cambiar tus preferencias y ver tus encuestas respondidas.<br>
      No podrás ver tus respuestas, por motivos de seguridad.<br>

    <div class="split left">
      <div class="centered">
        <div class="card bg-light mb-3" style="position:relative; width: 100%; height: 100%;">
          <div class="card-body">
            <div class="card-header">Preferencias</div>
            <div class="card bg-light mb-3 col-lg-12">
              {% for categoria in categorias %}
              <div class="card-body">
                <div class="text" style="text-align: center;">{{categoria.0}}</div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="split right">
      <div class="centered">
        <div class="card bg-light mb-3" style="position:relative; width: 100%; height: 100%;">
          <div class="card-body">
            <div class="card-header">Encuestas Contestadas</div>
            <div class="card bg-light mb-3 col-lg-12">
              {% for form in forms %}
              <div class="text" style="text-align: center;">{{form.0}}<br></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    </p>

  </div>

</div>

<div class = "row footer" >

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Agregar nueva categoría</a>
    <div class="dropdown-menu" >
      <!-- Ese for debo cambiarlo, es testeo solamente.-->
      <!-- El que salga arriba o abajo está definido por el navegador y no se puede cambiar.-->
      {% for categoria in categorias %}
      <div class="card-body">
        <!--Debo tener las categorias que NO están incluidas en el encuestado.-->
        <a class="dropdown-item" href="#">{{categoria.0}}</a>
      </div>
      {% endfor %}
    </div>
  </li>

  <button type="submit" class="mt-4 btn btn-primary">Agregar Preferencia</button>
</div>

{%endblock%}