{% extends './navbars/baseunregistered.html' %}

{% block title %}Pagina Principal{% endblock %}

{% block body %}
<!--<img src="https://images2.alphacoders.com/109/thumb-1920-1092831.jpg" width="auto" height="auto">-->
<!-- Imagen de fondo. -->

<center>
      <div>
            <h2 style="margin-top: 1%;">
                  <b>
                        ¡Bienvenido a Encuestas Peepo! <br>
                        En esta página encontrarás variadas encuestas para contestar. <br>
                        Comienza
                        <a href="/login">iniciando sesión</a>
                        , o 
                        <a href="/register">registrándote</a>
                         si no lo estás.<br>
                  </b>
            </h2>
            <img style="margin-bottom: 0%; margin-top: 1%; max-width:100%;"
                  src="/static/images/index.png" width="auto" height="auto">
      </div>
</center>
{% endblock %}