{% extends './navbars/baseunregistered.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block body %}
<center>
    {% if id_encuesta != None %}
    <form class="col-lg-6" action="/login?id_encuesta={{id_encuesta}}" method="POST">
        {% endif %}
        {% if id_encuesta == None %}
        <form class="col-lg-6" action="/login" method="POST">
            {% endif %}
            <h1 class="form-label mt-4">Iniciar Sesión</h1>
            <p></p>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div style="text-align: left;">Correo Usuario:</div>
                    <input type="email" class="form-control" name="correocito" aria-describedby="emailHelp"
                        placeholder="Correo Electrónico">
                    <div style="text-align: left;">Contraseña:</div>
                    <input type="password" class="form-control" name="passwordcita" placeholder="Contraseña">
                    
                    <div style="text-align: left;" class="mt-2">
                        <a href="/passreset1">¿Olvidaste tu Contraseña?</a>
                    </div>
                    <button type="submit" class="mt-2 btn btn-outline-info">Iniciar Sesión</button>
                    <a href="/loginadmin" class="mt-2 btn btn-outline-dark">Soy Encuestador</a>
                    <a href="/" class="mt-2 btn btn-primary">Regresar</a>
                    
                </div>
            </div>
        </form>

</center>
{% endblock %}