{% extends './navbars/base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 100px;">
  <!-- Barra de navegacion con botones. -->
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/images/nav_icon.svg" alt="" width="30" height="30"
        class="d-inline-block align-text-top">
      Encuestas Peepo
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/forms">Encuestas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/logout">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
