{% extends './navbars/baseencuestador.html' %}

<!-- nombre de la encuesta en el title -->
{% block title %}{{titulo}}{% endblock %}

{% block body %}

<center>
    <!-- TITULO-->
    <fieldset class="form-group">
        <form class="col-lg-10 mt-2" action="/edit_titulo/{{id}}" method="POST">
            <div class="input-group" style="background-color:#D9E3F1; box-shadow: none;">
                <input type="text" class="form-control form-control-lg" name="titulo" value="{{titulo}}"
                    style="text-align: center; font-size:44px; font-weight: bold; background-color:#D9E3F1;">
                <input type="submit" class="btn btn-success" value="+">
            </div>
        </form>
    </fieldset>
    <!-- Agregar nueva pregunta-->
    <p></p>
    <fieldset class="form-group">
        <form class="col-lg-6" action="/edit/{{id}}" method="POST">
            <input class="form-control" type="text" name="pregunta" placeholder="Nueva pregunta">
            <p></p>
            <input type="submit" name="S" value="Alternativa" class="btn btn-primary">
            <input type="submit" name="A" value="S.Multiple" class="btn btn-primary">
        </form>
    </fieldset>
    <p></p>
    <!-- question({id_pregunta, id_encuesta, respuestas, tipo, texto})-->

    <!-- Esto es para ver las preguntas dado un id de encuesta -->
    <!-- Para cada pregunta -->
    {% for question in form %}
    <div class="card bg-light mb-3 col-lg-6">
        <!-- texto de la pregunta-->
        <fieldset class="form-group">
            <div class="card-header" style="text-align: left;">
                <form action="/edit_pregunta/{{id}}/{{question.0}}" method="POST">
                    <div class="input-group" style="background-color:#F0F5FA; box-shadow: none;">
                        {% if question.5 == 0 %}
                        <a href="/required/{{id}}/{{question.0}}/{{question.5}}" class="btn btn-outline-success btn-sm"
                            data-bs-toggle="tooltip" title="No obligatoria">-</a>
                        {% endif %}
                        {% if question.5 == 1 %}
                        <a type="" href="/required/{{id}}/{{question.0}}/{{question.5}}"
                            class="btn btn-outline-danger btn-sm" data-bs-toggle="tooltip" title="Obligatoria">*</a>
                        {% endif %}
                        <input type="text" style="margin-left: 10px; background-color:transparent"
                            class="form-control form-control-sm" name="pregunta" value="{{question.4}}">
                        <button type="submit" class="btn btn-sm  btn-success" data-bs-toggle="tooltip"
                            title="Cambiar titulo">+</button>

                        <a href="/delete_pregunta/{{id}}/{{question.0}}" class="btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" title="Eliminar">x</a>
                    </div>
                </form>
            </div>
        </fieldset>

        <div class="card-body" style="text-align: left;">
            <!-- <div style="text-align: right;" class="text-muted">ID: {{question.0}}</div> -->
            <!-- cambia la presentacion dependiendo del tipo de pregunta -->
            <!-- Pregunta texto -->
            {% if question.3 == 0 %}
            <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
            {% endif %}

            <!-- Pregunta s.multiple -->
            {% if question.3 == 1 %}

            <!-- visualizar las respuestas -->

            {% for respuesta in question.2 %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" disabled="">
                <form action="/edit_respuesta/{{id}}/{{question.0}}/{{respuesta.0}}" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" style="box-shadow: none; background-color:#F0F5FA"
                            class="form-control form-control-sm" name="respuesta" value="{{respuesta.2}}">
                        <input type="submit" class="btn btn-success btn-sm  " value="+">
                        <a href="/delete_alternativa/{{id}}/{{respuesta.0}}" class="btn btn-danger btn-sm">x</a>
                    </div>
                </form>
            </div>
            {% endfor %}
            <!--  Formulario para agregar alternativas -->
            <form action="/new_alternativa/{{id}}/{{question.0}}" method="POST">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-sm" name="alternativa"
                        placeholder="Nueva selección" style="margin-left: 10px;">
                    <input type="submit" class="btn btn-sm btn-primary" type="button" value="+">
                </div>
            </form>
            {% endif %}

            <!-- Pregunta alternaiva -->
            {% if question.3 == 2 %}
            <!-- visualizar las respuestas -->

            {% for respuesta in question.2 %}
            <div class="form-check">
                <input type="radio" class="form-check-input" disabled="">
                <form action="/edit_respuesta/{{id}}/{{question.0}}/{{respuesta.0}}" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" style=" box-shadow: none; background-color:#F0F5FA"
                            class="form-control form-control-sm" name="respuesta" value="{{respuesta.2}}">
                        <input type="submit" class="btn btn-sm  btn-success" value="+">
                        <a href="/delete_alternativa/{{id}}/{{respuesta.0}}" class="btn btn-danger btn-sm">x</a>
                    </div>
                </form>
            </div>
            {% endfor %}
            <!--  Formulario para agregar alternativas -->
            <form action="/new_alternativa/{{id}}/{{question.0}}" method="POST">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-sm" name="alternativa"
                        placeholder="Nueva alternativa" style="margin-left: 10px;">
                    <input type="submit" class="btn btn-sm btn-primary" type="button" value="+">
                </div>
            </form>

            {% endif %}

            <!-- Para editar y borrar preguntas 
                NO COMPLETADOS
                <a href="edit/{{ question.0 }}" class="mt-2 btn btn-primary">EDIT</a>
                <a href="delete/{{ question.0 }}" class="mt-2 btn btn-danger">DELETE</a>
                -->
        </div>
    </div>
    {% endfor %}
    <div>
        <a onclick="confirmar_cierre('¿Estás seguro de cerrar la encuesta?\nNo se podrán realizar mas cambios.')"
            href="/cerrar_encuesta/{{id}}" class="mt-2 btn btn-warning">CERRAR ENCUESTA</a>
        <script>
            function confirmar_cierre(text) {
                var result = confirm(text)
                if (result == false) {
                    event.preventDefault();
                }
            }
        </script>
    </div>
    <p></p>
</center>
{% endblock %}