{% extends './navbars/baseencuestador.html' %}

{% block title %}Encuestas{% endblock %}

{% block body %}

<center>
    <form class="col-lg-5" action="/forms" method="POST">
        <h1 class="form-label mt-4">Encuestas</h1>
        <h6 style="text-align: left;" class="mt-2"><small>Nueva Encuesta</small></h6>
        <input type="text" class="form-control" name="titulo" placeholder="Titulo">
        <!-- <input type="text" class="form-control mt-2" name="categoria" placeholder="categoria1, categoria2, ... "> -->
        <button type="submit" class="mt-2 btn btn-dark">CREAR</button>
    </form>
    <p></p>
    {% for form in forms %}
    <div class="card bg-light mb-3 col-lg-6">
        <div class="card-header" style="text-align: left;">
            {{ form.2 }}
            <b>{% if form.5 == 1 %} (CERRADA) {% endif %}</b>
        </div>
        <div class="card-body">
            <div class="text-muted" style="text-align: right;">{{form.3}}</div>
            <div style="text-align: left;">N° Preguntas : {{form.1}}</div>
            <div style="text-align: left;">Respuestas: {{form.4}}</div>
            <a href="form/{{ form.0 }}" class="mt-2 btn btn btn-success">VER</a>
            {% if form.5 == 0 %}
            <a href="edit/{{ form.0 }}" class="mt-2 btn btn-primary">EDITAR</a>
            <a href="results/{{ form.0 }}" class="mt-2 btn btn-primary disabled">VER RESULTADOS</a>
            {% else %}
            <a href="edit/{{ form.0 }}" class="mt-2 btn btn-primary disabled">EDITAR</a>
            <a href="results/{{ form.0 }}" class="mt-2 btn btn-primary">VER RESULTADOS</a>
            {% endif %}
            <button onclick="copy_link('{{form.0}}')" class="mt-2 btn btn-outline-primary">Link</button>
            <a onclick="cheker('¿Estás seguro de eliminar la encuesta ' + '{{ form.2 }}' + '?')"
                href="delete/{{ form.0 }}" class="mt-2 btn btn-outline-danger">ELIMINAR</a>
            <script>
                function copy_link(id) {
                    copyToClipboard("http://is2-2022.inf.udec.cl:5008/form/" + id);
                };
                function cheker(text) {
                    var result = confirm(text)
                    if (result == false) {
                        event.preventDefault();
                    }
                };
                function copyToClipboard(str) {
                    var el = document.createElement('textarea');  // Create a <textarea> element
                    el.value = str;                                 // Set its value to the string that you want copied
                    el.setAttribute('readonly', '');                // Make it readonly to be tamper-proof
                    el.style.position = 'absolute';
                    el.style.left = '-9999px';                      // Move outside the screen to make it invisible
                    document.body.appendChild(el);                  // Append the <textarea> element to the HTML document
                    var selected =
                        document.getSelection().rangeCount > 0        // Check if there is any content selected previously
                            ? document.getSelection().getRangeAt(0)     // Store selection if found
                            : false;                                    // Mark as false to know no selection existed before
                    el.select();                                    // Select the <textarea> content
                    document.execCommand('copy');                   // Copy - only works as a result of a user action (e.g. click events)
                    document.body.removeChild(el);                  // Remove the <textarea> element
                    if (selected) {                                 // If a selection existed before copying
                        document.getSelection().removeAllRanges();    // Unselect everything on the HTML document
                        document.getSelection().addRange(selected);   // Restore the original selection
                    }
                };
            </script>
        </div>
    </div>
    {% endfor %}
</center>
{% endblock %}